<strong>Olá, {{ provider }}</strong>
<p>Você tem um novo agendamento, confira os datalhes abaixo</p>
<p>
	<strong>Cliente: </strong> {{ user }} <br />
	<strong>Data/hora: </strong> {{ date }} <br />
	<strong>Serviços: </strong> {{ services }} <br />
	<br />
</p>
