<strong>Ol치, {{ provider }} 游땩</strong>
<p>游뚿 Houve um cancelamento de hor치rio, confira os datalhes abaixo:</p>
<p>
	<strong>Cliente: </strong> {{ user }} <br />
	<strong>Data/hora: </strong> {{ date }} <br />
	<br />
	<small>
		O hor치rio est치 novamente dispon칤vel para novos agendamentos.
	</small>
</p>
