<strong>Olá, {{ user }}</strong>
<p>Seja muito bem vindo à Jack Hair e Barber!</p>
<p> Qualquer dúvida, entre em contato neste e-mail ou acesse nosso site</p>
<p>✆ (31) 99226-8984 (Whatsapp)</p>
<p>
    <br>
        Aguardamos você!!
</p>
